﻿@model Recipe

@{
    ViewBag.Title = "Cadastro de Receita";

    var action = "edit";
    if(Model.Id == 0)
    {
        action = "create";
    }
}

<h2>Cadastro de Receita</h2>

<form asp-controller="cadastrarReceita" asp-action="@action" method="post">
    <div class="form-group">
        <label for="title">Título</label>
        <input type="text" class="form-control" id="title" name="Title" value="@Model.Title" required>
    </div>
    <div class="form-group">
        <label for="foto">Foto</label>
        <input placeholder="Inserir Link da imagem" type="text" class="form-control" id="foto" name="Foto" value="@Model.Foto" required>
    </div>
    <div class="form-group">
        <label for="description">Descrição</label>
        <textarea class="form-control" id="description" name="Description" rows="3" required>@Model.Description</textarea>
    </div>
    <div class="form-group">
        <label for="category">Categoria</label>
        <select class="form-control" id="category" name="Category.Title" required>
            <option value="">Selecione uma categoria</option>
            <option selected value="Doces">Doces</option>
            <option value="Carnes">Carnes</option>
            <option value="Aves">Aves</option>
            <option value="Frutos do Mar">Frutos do Mar</option>
            <option value="Saladas">Saladas</option>
        </select>
    </div>
    <div class="form-group">
        <label>Tags</label>
        <ul id="tags">
            @if(Model.Tags.Count > 0)
            {
                int counter = 0;
                @foreach (var step in Model.Tags)
                {
                    <li>
                        <input type="text" name="tags[@counter].Name" value="@step.Name">
                        <button type="button" class="btn btn-danger" onclick="$(this).closest('li').remove()">Remover</button>
                    </li>

                    counter++;
                }
            }

            @if (Model.Tags.Count == 0)
            {
                <li>
                    <input type="text" name="tags[0].Name">
                    <button type="button" class="btn btn-danger" onclick="$(this).closest('li').remove()">Remover</button>
                </li>
            }
            
        </ul>
        <button type="button" class="btn btn-primary" onclick="adicionarTags()">Adicionar Tags</button>
    </div>
    <div class="form-group">
        <label>Ingredientes</label>
        <ul id="ingredients">
            @if (Model.Ingredients.Count > 0)
            {
                int counter = 0;
                @foreach (var step in Model.Ingredients)
                {
                    <li>
                        <input type="text" name="ingredients[@counter].Name" value="@step.Name">
                        <button type="button" class="btn btn-danger" onclick="$(this).closest('li').remove()">Remover</button>
                    </li>

                    counter++;
                }
            }

            @if (Model.Ingredients.Count == 0)
            {
                <li>
                    <input type="text" name="ingredients[0].Name">
                    <button type="button" class="btn btn-danger" onclick="$(this).closest('li').remove()">Remover</button>
                </li>
            }
        </ul>
        <button type="button" class="btn btn-primary" onclick="adicionarIngrediente()">Adicionar Ingrediente</button>
    </div>
    <div class="form-group">
        <label >Modo de Preparo</label>
        <ul id="prepareModes">
            @if (Model.PrepareModes.Count > 0)
            {
                int counter = 0;
                @foreach (var step in Model.PrepareModes)
                {
                    <li>
                        <input type="text" name="prepareModes[@counter].Name" value="@step.Name">
                        <button type="button" class="btn btn-danger" onclick="$(this).closest('li').remove()">Remover</button>
                    </li>

                    counter++;
                }
            }

            @if (Model.PrepareModes.Count == 0)
            {
                <li>
                    <input type="text" name="prepareModes[0].Name">
                    <button type="button" class="btn btn-danger" onclick="$(this).closest('li').remove()">Remover</button>
                </li>
            }
        </ul>
        <button type="button" class="btn btn-primary" onclick="adicionarModoDePreparo()">Adicionar Modo de Preparo</button>
    </div>

    <span asp-validation-for="Title" class="text-danger"></span>
    <span asp-validation-for="Tags" class="text-danger"></span>
    <span asp-validation-for="Ingredients" class="text-danger"></span>
    <span asp-validation-for="PrepareModes" class="text-danger"></span>
    <br/>
    <button type="submit" class="btn btn-success" >Salvar</button>
    <a href="@Url.Action("Index", "Home")" class="btn btn-default">Cancelar</a>

</form>

<script>
    let ingredientsCount = @Model.Ingredients.Count;
    let prepareModesCount = @Model.PrepareModes.Count;
    let tagsCount = @Model.Tags.Count;

    function adicionarTags() {
        tagsCount++
        var ingredientes = $("#tags");
        var li = $("<li>");
        var input = $("<input>").attr("type", "text").attr("name", `tags[${tagsCount}].Name`);
        var button = $("<button>").attr("type", "button").addClass("btn").addClass("btn-danger").text("Remover").on("click", function () {
            $(this).closest("li").remove();
        });
        li.append(input).append(button);
        ingredientes.append(li);
    }

    function adicionarIngrediente() {
        ingredientsCount++
        var ingredientes = $("#ingredients");
        var li = $("<li>");
        var input = $("<input>").attr("type", "text").attr("name", `ingredients[${ingredientsCount}].Name`);
        var button = $("<button>").attr("type", "button").addClass("btn").addClass("btn-danger").text("Remover").on("click", function () {
            $(this).closest("li").remove();
        });
        li.append(input).append(button);
        ingredientes.append(li);
    }

    function adicionarModoDePreparo() {
        prepareModesCount++
        var modoDePreparo = $("#prepareModes");
        var li = $("<li>");
        var input = $("<input>").attr("type", "text").attr("name", `prepareModes[${prepareModesCount}].Name`);
        var button = $("<button>").attr("type", "button").addClass("btn").addClass("btn-danger").text("Remover").on("click", function () {
            $(this).closest("li").remove();
        });
        li.append(input).append(button);
        modoDePreparo.append(li);
    }

</script>

